body, html, ul, div, p, h1, h2, h3, h4, h5, h6, dt, dd, dl, span { margin: 0; padding: 0; }

ul, li { list-style: none; }

a { text-decoration: none; }

.clear::after { content: ''; display: block; overflow: hidden; height: 0; visibility: hidden; clear: both; zoom: 1; }

img { display: block; }

.left { float: left; }

.right { float: right; }

input, button { outline: none; }

.boxCenter { width: 1200px; margin: 0 auto; }

#regLoginTop { width: 1200px; margin: 0 auto; }

#regLoginTop .logo a { display: block; float: left; margin-top: 40px; margin-bottom: 15px; }

#regLoginTop .icon ul { display: flex; justify-content: space-around; background: #fff; padding: 25px 0; float: right; }

#regLoginTop .icon li { float: left; width: 240px; position: relative; margin-left: 45px; }

#regLoginTop .icon li div:first-child { width: 62px; height: 62px; float: left; background-image: url("../img/index/foot-sprite.png"); margin-right: 20px; }

#regLoginTop .icon .icon1 { background-position: -270px -105px; }

#regLoginTop .icon .icon3 { background-position: -450px -105px; }

#regLoginTop .icon .icon4 { background-position: -540px -105px; }

#regLoginTop .icon li span:first-child { color: #C81417; font-size: 16px; line-height: 40px; }

#regLoginTop .icon li span:last-child { font-size: 12px; }

#regLoginTop .icon div span { display: block; }

#regmain { width: 1200px; margin: 0 auto; }

#regmain .regLoginimg { float: left; display: block; margin-right: 125px; }

#header .headerTop { line-height: 45px; background: #F0F0F0; height: 45px; width: 100%; }

#header .headerTop .left { padding-left: 30px; position: relative; }

#header .headerTop .left p, #header .headerTop .left .sp { float: left; font-size: 16px; padding-right: 24px; }

#header .headerTop .left p a, #header .headerTop .left .sp a { color: #7E7E7E; }

#header .headerTop .left p a:hover, #header .headerTop .left .sp a:hover { color: #C81417; }

#header .headerTop .right { padding-right: 30px; }

#header .headerTop .right p { float: left; font-size: 16px; color: #999; }

#header .headerTop .hoverdiv { position: absolute; z-index: 100; top: 42px; }

#header .headerTop .hoverdiv .arrow, #header .headerTop .hoverdiv .arrow1 { width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; position: absolute; left: 20px; }

#header .headerTop .hoverdiv .arrow { top: -5px; border-bottom: 6px solid #fff; z-index: 2; }

#header .headerTop .hoverdiv .arrow1 { top: -6px; border-bottom: 6px solid #ccc; z-index: 1; }

#header .headerTop .hoverul { border: 1px solid #dadada; box-shadow: 0 1px 3px #999; width: 150px; top: 50px; background: #fff; }

#header .headerTop .hoverul li { border-bottom: 1px solid #F6F6F6; height: 40px; text-align: center; }

#header .headerTop .hoverul li a { font-size: 14px; line-height: 40px; color: #7E7E7E; }

#header .headerTop .hoverul li a:hover { color: #C81417; }

#header .headerTop a { color: #333333; font-size: 16px; }

#header .headerTop img { width: 100%; }

#header .headerTop .list { float: right; }

#header .headerTop .list li { float: left; padding-left: 30px; position: relative; }

#header .headerTop .list li:nth-child(3) { padding-left: 45px; }

#header .headerTop .list a { color: #7E7E7E; }

#header .headerTop .list a:hover { color: #C81417; }

#header .headerTop .list .shopping { width: 20px; height: 20px; background: url("../img/svg/shopping.svg") no-repeat center; background-size: 20px; position: absolute; left: 20px; top: 30%; }

#header .headerTop .list .qty { color: #C81417; font-weight: 900; }

#header .headerSearch input, #header .headerSearch button { height: 38px; line-height: 38px; font-size: 20px; }

#header .headerSearch .input { width: 460px; margin: 0 auto; height: 110px; padding-top: 30px; box-sizing: border-box; }

#header .headerSearch img { float: left; margin: 30px; }

#header .headerSearch input { width: 380px; display: block; float: left; box-sizing: border-box; border: 1px solid #C81417; border-top-left-radius: 3px; border-bottom-left-radius: 3px; padding: 12px; font-size: 14px; }

#header .headerSearch button { background: #C81417; border: 0 none; width: 80px; height: 38px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; font-size: 24px; }

#header .headerSearch a { color: #fff; }

#header .nav { width: 690px; margin: 0 auto; }

#header .nav ul li { float: left; width: 200px; }

#header .nav ul a { display: block; font-size: 20px; color: #333333; font-weight: 600; }

#header .nav ul a:hover { color: #C81417; }

#header .nav .cate { position: relative; padding-bottom: 10px; }

#header .nav .cate p { color: #333333; font-weight: 600; font-size: 20px; height: 40px; }

#header .nav .hoverp { float: right; position: absolute; right: -60px; width: 140px; bottom: -5px; }

#header .nav .cate span img { float: left; margin-top: 5px; margin-right: 5px; }

#header .nav .catelist { position: absolute; width: 960px; left: -150px; top: 10px; display: none; }

#header .nav .catelist .rightside { width: 210px; height: 460px; background: #fafafa; border-top-right-radius: 10px; border-bottom-right-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.13); position: absolute; z-index: 999; right: 0; }

#header .nav .catelist .rightside li { height: 51px; padding-left: 10px; }

#header .nav .catelist .rightside li p { padding: 10px; font-size: 16px; font-weight: 100; float: left; }

#header .nav .catelist .rightside li p:hover { font-weight: 700; }

#header .nav .catelist .rightside li i { font-style: normal; float: left; margin-top: 11px; font-size: 14px; }

#header .nav .catelist .rightside li span { font-size: 14px; display: block; float: left; margin-top: 11px; cursor: pointer; }

#header .nav .catelist .rightside li a { color: #666; font-weight: 100; }

#header .nav .catelist .rightside li span:hover { text-decoration: underline; }

#header .nav .catelist .rightside li:hover { background: #f0f0f0; }

#header .nav .catelist .rightside li:hover p { color: #ff7506; }

#header .nav .catelist .rightside li:hover span { color: #ff7506; }

#header .nav .catelist .rightside li:hover i:hover { color: #666; }

#header .nav .catelist .leftside { width: 750px; height: 460px; background: #fff; position: absolute; z-index: 1000; left: 0; box-sizing: border-box; border-bottom-left-radius: 10px; }

#header .nav .catelist .leftside li { margin-right: 20px; width: 316px; overflow: hidden; padding: 0 0 0 10px; margin-bottom: 15px; display: block; float: left; height: 100px; padding-top: 20px; padding-left: 30px; }

#header .nav .catelist .leftside li .ju { color: #ff7506; }

#header .nav .catelist .leftside a h4 { font-size: 15px; font-weight: 700; width: 300px; text-align: left; line-height: 15px; height: 26px; border-bottom: 1px solid #ebebeb; color: #333; }

#header .nav .catelist .leftside a h4:hover { color: #666; }

#header .nav .catelist .leftside span { float: left; margin-top: 11px; font-size: 14px; color: #666; cursor: pointer; }

#header .nav .catelist .leftside i { font-style: normal; float: left; margin: 11px 5px; font-size: 14px; }

#header .nav .catelist .leftside span:hover { color: #ff7506; text-decoration: underline; font-weight: 700; }

#header .nav .catelist .leftside ul { display: none; }

#header .nav .catelist .leftside .l1 { display: block; }

#footer .center .hotLine .weibo, #footer .center .hotLine .wechat { height: 40px; width: 40px; border-radius: 50%; line-height: 40px; }

#footer .icon ul { width: 100%; display: flex; justify-content: space-around; background: #fff; border-top: 1px solid #ddd; padding: 25px 0; }

#footer .icon li { float: left; width: 240px; position: relative; margin-left: 45px; }

#footer .icon li div:first-child { width: 62px; height: 62px; float: left; background-image: url("../img/index/foot-sprite.png"); margin-right: 20px; }

#footer .icon .icon1 { background-position: -270px -105px; }

#footer .icon .icon2 { background-position: -360px -105px; }

#footer .icon .icon3 { background-position: -450px -105px; }

#footer .icon .icon4 { background-position: -540px -105px; }

#footer .icon .icon5 { background-position: -625px -105px; }

#footer .icon li span:first-child { color: #C81417; font-size: 16px; line-height: 40px; }

#footer .icon li span:last-child { font-size: 12px; }

#footer .icon div span { display: block; }

#footer .center { border-bottom: 1px solid #EDEDED; padding: 30px 0; background: #fff; width: 1200px; margin: 0 auto; border-top: 1px solid #EDEDED; }

#footer .center .hotLine { float: left; font-size: 12px; padding-right: 62px; border-right: 1px solid #EDEDED; height: 180px; }

#footer .center .hotLine .box li { float: left; position: relative; }

#footer .center .hotLine .box li:first-child { margin-right: 95px; }

#footer .center .hotLine .box span { position: absolute; left: 8px; }

#footer .center .hotLine .kefu { padding-top: 40px; }

#footer .center .hotLine .kefu p { float: left; }

#footer .center .hotLine .kefu .tel { float: right; margin-bottom: 23px; }

#footer .center .hotLine .kefu span { display: block; }

#footer .center .hotLine .weibo { background: #F18181 url("../img/svg/weibo.svg") no-repeat center; background-size: 40px; }

#footer .center .hotLine .wechat { background: #F18181 url("../img/svg/wechat.svg") no-repeat center; background-size: 30px; }

#footer .center .hotLine .yincang { display: none; }

#footer .center .dllist dl { float: left; padding: 0 55px; border-right: 1px solid #EDEDED; height: 180px; }

#footer .center .dllist dl dt { font-size: 14px; padding-bottom: 10px; }

#footer .center .dllist dl dd { padding-bottom: 3px; }

#footer .center .dllist dl dd a { font-size: 12px; color: #666; }

#footer .center .dllist dl dd a:hover { color: #f34; }

#footer .center .dllist .one { padding-left: 55px; padding-top: 0; }

#footer .center .gif { margin-right: 50px; }

#footer .links { text-align: center; width: 540px; margin: 0 auto; }

#footer .links ul li { float: left; margin-top: 25px; color: #666; margin-left: 10px; }

#footer .links ul li a { color: #666; font-size: 12px; }

#footer .links ul li a:hover { color: #f34; }

#footer .copyright { font-size: 12px; color: #666; margin-top: 12px; text-align: center; }

#footer .copyright a { color: #666; }

#footer .copyright span { position: relative; }

#footer .copyright img { display: inline; left: -25px; position: absolute; }

#footer .footsp { width: 1040px; margin: 0 auto; margin-top: 25px; }

#footer .footsp ul li { width: 87px; height: 35px; float: left; margin-left: 10px; background: url("../img/index/foot-sprite.png"); }

#footer .footsp ul li a { width: 87px; height: 35px; display: block; }

#footer .footsp .link1 { background-position: -891px -25px; }

#footer .footsp .link2 { background-position: -107px -25px; }

#footer .footsp .link3 { background-position: -199px -25px; }

#footer .footsp .link4 { background-position: -291px -25px; }

#footer .footsp .link5 { background-position: -387px -25px; }

#footer .footsp .link6 { background-position: -480px -25px; }

#footer .footsp .link7 { background-position: -574px -25px; }

#footer .footsp .link8 { background-position: -683px -25px; }

#footer .footsp .link9 { background-position: -994px -25px; }

.loginlist { margin-top: 80px; position: relative; height: 420px; float: left; width: 344px; border: 1px solid #d0d0d0; padding: 23px; box-sizing: border-box; }

.loginlist .now a { display: block; font-size: 12px; color: #FF7800; float: left; }

.loginlist .now a:hover { color: #f34; }

.loginlist .climg span { display: block; height: 60px; width: 60px; top: 0; right: 0; position: absolute; background-image: url("../img/reg/right-myCenter.png"); cursor: pointer; }

.loginlist .climg .cl1 { background-position: -75px -75px; }

.loginlist .climg .cl2 { background-position: 0 -75px; display: none; }

.loginlist .tog { display: none; padding-top: 25px; position: relative; }

.loginlist .tog img { width: 170px; height: 170px; margin-left: 63px; padding: 0; display: block; }

.loginlist .tog span { display: block; position: absolute; left: 50px; bottom: 0px; background: url("../img/reg/right-myCenter.png") no-repeat -75px 0; height: 34px; width: 34px; }

.loginlist .tog p { font-size: 12px; margin-left: 100px; margin-top: 30px; }

.loginlist .tog p a { color: #f34; }

.loginlist .tog .sao { font-size: 12px; margin-left: 100px; }

.loginlist form { display: block; padding-top: 20px; }

.loginlist form .error { font-size: 12px; color: #FF7800; margin-left: 20px; }

.loginlist form p { margin-left: 28px; position: relative; }

.loginlist form p input { height: 40px; line-height: 40px; width: 240px; border-radius: 10px; font-size: 12px; border: 1px solid #D0D0D0; background: #fff; text-indent: 4em; }

.loginlist form p .us, .loginlist form p .ps { display: block; background: url("../img/reg/login-box.png") no-repeat 0 -90px; width: 40px; height: 40px; line-height: 40px; position: absolute; top: 0; left: 0; }

.loginlist form p .ps { background: url("../img/reg/login-box.png") no-repeat 0 -135px; }

.loginlist .error { height: 30px; line-height: 30px; }

.loginlist .pasrem { padding-top: 45px; padding-left: 25px; padding-right: 20px; }

.loginlist .pasrem label { color: #a7a7a7; font-size: 12px; margin-left: 10px; }

.loginlist .pasrem .rem, .loginlist .pasrem span { float: left; }

.loginlist .pasrem a { float: right; font-size: 12px; color: #a7a7a7; }

.loginlist button { margin-top: 12px; width: 240px; height: 40px; background: #C81417; border: 0 none; outline: none; border-radius: 10px; line-height: 40px; font-size: 14px; font-weight: 700; color: #fff; margin-left: 30px; cursor: pointer; }

.loginlist button:hover { background: #9a0f12; }

.loginlist .logp { text-align: center; font-size: 12px; color: #a7a7a7; margin-top: 25px; margin-left: -6px; }

.loginlist .logicon { position: absolute; bottom: 10px; }

.loginlist .logicon .icon1 { padding-top: 13px; float: left; width: 85px; height: 55px; margin-left: 90px; }

.loginlist .logicon .icon1 a { display: block; }

.loginlist .logicon .icon1 span { display: block; width: 30px; height: 30px; background-image: url("../img/reg/login-box.png"); }

.loginlist .logicon .icon1 .QQ { background-position: 0 -180px; }

.loginlist .logicon .icon1 .wechat { background-position: 0 -225px; }

.loginlist .logicon .icon1 p { font-size: 12px; color: #a7a7a7; margin-left: -7px; margin-top: 5px; }

.loginlist .logicon .icon1:last-child { margin-left: 0; }

.fixcenter { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 15px; background: rgba(0, 0, 0, 0.6); color: #fff; font-size: 14px; }
